<div class="container">
    <div class="topic">
        <h6>System Resource List</h6>
    </div>
    <!-- search bar -->
    <div class="input-group rounded">
        <input type="search" class="form-control rounded" placeholder="Search" aria-label="Search" aria-describedby="search-addon" />
    </div>
    
    <table class="table table-bordered">
        <thead class="table-headers">
            <tr>
                <th scope="col"><button class="headers">Resource ID</button></th>
                <th scope="col"><button class="headers">Job Role</button></th>
                <th scope="col"><button class="headers">Org. Unit</button></th>
            </tr>
        </thead>
        <tbody class="table-body">
            <tr *ngFor="let resource of resourceList">
                <td>{{resource.resourceID}}</td>
                <td>{{resource.jobRole}}</td>
                <td>{{resource.orgUnit}}</td>
            </tr>
        </tbody>
    </table>
</div>


