<div class="container">
    <div class="topic">
        <h6>System Resource List</h6>
    </div>
    <!-- search bar -->
    <div class="input-group rounded">
        <input type="search" class="form-control rounded" placeholder="Search" aria-label="Search" aria-describedby="search-addon" />
    </div>
    
    <table class="table table-bordered">
        <thead class="table-headers">
            <tr>
                <th scope="col"><button class="headers">Resource ID</button></th>
                <th scope="col"><button class="headers">Job Role</button></th>
                <th scope="col"><button class="headers">Org. Unit</button></th>
            </tr>
        </thead>
        <tbody class="table-body">
            <tr>
                <td>1</td>
                <td>Software Engineer</td>
                <td>Unit 2</td>
            </tr>
        </tbody>
    </table>
</div>
<!-- Button trigger modal(bootstrap- https://getbootstrap.com/docs/5.3/components/modal/#how-it-works) -->

